<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center mt-5">
      <h1>Statistics</h1>
      <h5 class="mt-4 mb-4">Number of coffees drinked in single kitchen</h5>
      <ul class="list-group" *ngFor="let kitchen of kitchens">
        <li class="list-group-item list-group-item-action">
          <div class="row">
            <div class="col-md-6 active">
              {{kitchen?.name}} :
            </div>
            <div class="col-md-6">
              {{kitchen?.count}}
            </div>
          </div>
        </li>
      </ul>
      <h5 class="mt-5 mb-4">Number of drinked coffees and drinkers names in different period of time</h5>
      <ul class="list-group">
        <li class="list-group-item list-group-item-action">
          <div class="row">
            <div class="col-md-6 active">
              Today :
            </div>
            <div class="col-md-6">
              {{counters?.today}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <span *ngFor="let drinker of uniqueDrinkers?.today">
                {{drinker}}<br>
              </span>
            </div>
          </div>
        </li>
        <li class="list-group-item list-group-item-action">
          <div class="row">
            <div class="col-md-6 active">
              Week :
            </div>
            <div class="col-md-6">
              {{counters?.week}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <span *ngFor="let drinker of uniqueDrinkers?.week">
                {{drinker}} <br> 
              </span>
            </div>
          </div>
        </li>
        <li class="list-group-item list-group-item-action">
          <div class="row">
            <div class="col-md-6 active">
              Month :
            </div>
            <div class="col-md-6">
              {{counters?.month}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <span *ngFor="let drinker of uniqueDrinkers?.month">
                {{drinker}}  <br>
              </span>
            </div>
          </div>
        </li>
        <li class="list-group-item list-group-item-action">
          <div class="row">
            <div class="col-md-6 active">
              Quarter :
            </div>
            <div class="col-md-6">
              {{counters?.quarter}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <span *ngFor="let drinker of uniqueDrinkers?.quarter">
                {{drinker}} <br> 
              </span>
            </div>
          </div>
        </li>
        <li class="list-group-item list-group-item-action">
          <div class="row">
            <div class="col-md-6 active">
              Year :
            </div>
            <div class="col-md-6">
              {{counters?.year}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <span *ngFor="let drinker of uniqueDrinkers?.year">
                {{drinker}}<br>  
              </span>
            </div>
          </div>
        </li>
      </ul>
      <h5 class="mt-5 mb-4">Select period of time:</h5>
      <div class="row mb-5">
        <div class="col-md-4">
          <input type="date" id="dateFrom">
        </div>
        <div class="col-md-4">
          <input type="date" id="dateTo">
        </div>
        <div class="col-md-4">
          <button class="btn btn-success btn-block" (click)="showWithDateRange()">Show</button>
        </div>
      </div>
      <ul class="list-group mb-5" *ngIf="dateRangeExists">
        <li class="list-group-item list-group-item-action">
          <div class="row">
            <div class="col-md-6">From {{dateFrom}} to {{dateTo}}:</div>
            <div class="col-md-6">{{counterRange}}</div>
          </div>
        </li>
        <li class="list-group-item list-group-item-action">
          <div class="row">
            <div class="col-md-12">
              <span *ngFor="let drinker of uniqueDrinkersRange">
                {{drinker}}<br>  
              </span>
            </div>
          </div>  
        </li>
      </ul> 
      
      
    </div>
    <div class="col-md-2"></div>
  </div>
</div>